@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:hover{
  cursor: pointer;
}
.carousel_coin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description a {
  color: rgb(105, 187, 253);
  font-size: 20px;
}
.search_bar{
  text-align: center;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 3;
  overflow-y: auto;
  transition: 0.3s;
}

.sidebar.active {
  position: fixed;
  left: 0;
}


.sidebar::-webkit-scrollbar {
  width: 12px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #9abddc;
}



.sidebar::-webkit-scrollbar {
  border-radius: 6px; 
}



.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}